html, body, .container-fluid {
  background-color: #D6D8DC;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}


/* Navigation Stuff */
.vertical-nav {
  min-width: 5rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  font-size: 2rem;
}

.page-content {
  width: calc(100% - 15rem);
  margin-left: 15rem;
  transition: all 0.4s;
}

#sidebar p {
  display: block;
  /* visibility: visible; */
  /* transition: all 4s;
  transition-delay: 1s; */
}

/* Toggle Behavior */
#sidebar.active {
  width: 5rem;
}

#content.active {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

#sidebar.active p {
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0;
  transition: display 1s ease-in-out;
}